html, body {height:100%; width:100%; padding:0; margin:0;}



/*common*/
.novisiable {visibility:hidden;}
.hide {display:none;}
.show {display:block;}
.clear {clear:both;}
.center {text-align:center;}
.textl {text-align:left;}
.textr {text-align:right;}
.fa-4x {font-size:4em;}
.chk-ico {background: transparent url(../../assets/image/btn_icon.gif) -113px 0 no-repeat; width: 14px; height: 14px; display:inline-block;}
.selected .chk-ico {background-position: -113px -19px;}

.default-icon {background:url(../../assets/image/fileicon/default_type.png) no-repeat center; background-size:25px; display:inline-block; width:25px; height:25px;}
.dir-icon {background-image:url(../../assets/image/fileicon/folder_72.png);}



/*main*/
#main {height:100%;}
.main-l {width:100px; float:left; z-index: 999;
    -moz-box-shadow: 1px 0px 3px #333333; 
    -webkit-box-shadow:1px 0px 3px #333333; 
    box-shadow: 1px 0px 4px #969696;}
.main-l-logo {padding: 10px;}
.main-l .phone {padding: 10px; text-align: center;}
.main-lmenu {padding: 10px; cursor:pointer;}
.main-lmenu.cover {opacity: 0.4; color: #ADADAD; cursor:default;}
.main-lmenu div, .main-lmenu span {text-align: center;}
.main-lmenu-click {border-right: 5px solid #5cb85c;}
.main-lmenu-default {border-right: 5px solid #FFFFFF;}
.main-r {margin-left:100px; height:100%;}

/*modal*/
.J_ModalState {padding:10px;}

.defaultstyle {position:relative;}
.defaultstyle .default-icon {background:no-repeat center; display:inline-block;}
.defaultstyle p {margin-bottom:0;}
.defaultstyle.file .file-name a {cursor:default; text-decoration:none;}
.defaultstyle .file-name,
.defaultstyle .file-time {overflow:hidden; height:40px;}

.list .defaultstyle {border-bottom:1px solid #ddd; height:40px;}
.list .defaultstyle:hover {background-color:#f0f8fd;}
.list .defaultstyle.selected {background:rgb(202, 227, 255);}
.list .defaultstyle p {height:40px; line-height:40px; margin-bottom:0;}
.list .file-img {position:absolute; top:0; bottom:0; left:0; width:60px;}
.list .default-icon {position:absolute; top:0; left:0; right:0; bottom:0; background-size:25px; background-position:center right; width:60px; height:100%;}
.list .chk-box {position:absolute; top:0; bottom:0; left:0; right:25px;}
.list .chk-ico {position:absolute; top:14px; left:12px;}
.list .file-name {text-indent:60px; display:inline-block; width:60%;}
.list .file-name a {padding-left:10px;}
.list .file-time {width:30%; display:inline-block;}
.list .file-name .glyphicon {text-indent:0;}

.list .defaultstyle.dir .file-name a {cursor:pointer;}

.grid .defaultstyle {position:relative; width:142px; height:142px; float:left; margin:10px;}
.grid .file-img {width:94px; height:94px; position:relative; margin:auto;border:1px solid #fff; margin-top:20px;}
.grid .defaultstyle:hover .file-img,
.grid .defaultstyle.selected .file-img {border:1px solid #ddd;}
.grid .defaultstyle:hover .chk-ico,
.grid .defaultstyle.selected .chk-ico {display:inline-block;}
.grid .default-icon {width:94px; height:94px; position:relative;}
.grid .chk-box {position:absolute; top:-10px; left:-10px; width:30px; height:30px;}
.grid .chk-ico {position:absolute; top:10px; left:10px; display:none;}
.grid .file-name {text-align:center; margin-top:10px; overflow:hidden; word-break:break-all;}
.grid .file-time {display:none;}

.grid .defaultstyle.dir {cursor:pointer;}

/* file icon */
.list .file-icon {background-image:url(../../assets/image/fileicon/default_type.png);}
.grid .file-icon {background-image:url(../../assets/image/fileicon/default_type.png);}
.list .dir-icon {background-image:url(../../assets/image/fileicon/folder_32.png);}
.grid .dir-icon {background-image:url(../../assets/image/fileicon/folder_72.png);}
.list .jpg-icon {background-image:url(../../assets/image/fileicon/jpg_32.png);}
.grid .jpg-icon {background-image:url(../../assets/image/fileicon/jpg_72.png);}
.list .apk-icon {background-image:url(../../assets/image/fileicon/apk_32.png);}
.grid .apk-icon {background-image:url(../../assets/image/fileicon/apk_72.png);}
.list .zip-icon {background-image:url(../../assets/image/fileicon/zip_32.png);}
.grid .zip-icon {background-image:url(../../assets/image/fileicon/zip_72.png);}
.list .doc-icon {background-image:url(../../assets/image/fileicon/doc_32.png);}
.grid .doc-icon {background-image:url(../../assets/image/fileicon/doc_72.png);}
.list .xls-icon {background-image:url(../../assets/image/fileicon/xls_32.png);}
.grid .xls-icon {background-image:url(../../assets/image/fileicon/xls_72.png);}
.list .ppt-icon {background-image:url(../../assets/image/fileicon/ppt_32.png);}
.grid .ppt-icon {background-image:url(../../assets/image/fileicon/ppt_72.png);}
.list .pdf-icon {background-image:url(../../assets/image/fileicon/pdf_32.png);}
.grid .pdf-icon {background-image:url(../../assets/image/fileicon/pdf_72.png);}
.list .avi-icon {background-image:url(../../assets/image/fileicon/avi_32.png);}
.grid .avi-icon {background-image:url(../../assets/image/fileicon/avi_72.png);}
.list .midi-icon {background-image:url(../../assets/image/fileicon/midi_32.png);}
.grid .midi-icon {background-image:url(../../assets/image/fileicon/midi_72.png);}
.list .text-icon {background-image:url(../../assets/image/fileicon/text_32.png);}
.grid .text-icon {background-image:url(../../assets/image/fileicon/text_72.png);}
.list .code-icon {background-image:url(../../assets/image/fileicon/code_32.png);}
.grid .code-icon {background-image:url(../../assets/image/fileicon/code_72.png);}

/*operate*/
.new-dir {width:100px;}

/* dir tree*/
.dirtree {border:1px solid #ddd; height:300px; overflow-y:auto;}
.dirtree,
.dirtree ul {list-style:none; padding:0; margin:0;}

.treeview-node {padding:5px 0 5px 15px; cursor:default;}
.treeview-node .glyphicon {font-size:12px;}
.treeview-node:hover {background-color:#f0f8fd;}
.treeview-node.selected {background:rgb(202, 227, 255);}
.treeview-node p {padding-left:20px; position:relative; margin:0;}
.treeview-node a {text-decoration: none; cursor:default;}
.treeview-node a .glyphicon {cursor:pointer;}
.treeview-node .plus {position: absolute; left:0; top:3px;}
.treenode-empty .plus {display:none;}

.treeview-node+ul {display:none;}
.treeview-node._minus+ul {display:block;}

.treeview-node .dir-icon {background-image:url(../../assets/image/fileicon/folder_32.png); float:left; height:20px; margin-right:5px;}
.treeview-node._minus .dir-icon {background-image:url(../../assets/image/fileicon/folderopen_32.png)}

.loading-dir {position: absolute; left: 0;}
.new-dir {padding-top:0; padding-bottom:0; height:22px; display:inline-block;}
.glyphicon-ok {color:green;}
.glyphicon-remove {color:red;}

#J_UploadBox {display:inline-block;margin-right:5px; margin-top:2px;}
.upload-box {position:absolute; top:10px; left:200px; display:inline; z-index:10000;}