<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.m15.app.android.gotransfer"
    android:installLocation="auto"
    android:versionCode="2000"
    android:versionName="2.0.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".GoTransferApplication"
        android:allowBackup="true"
        android:icon="@drawable/launch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="USER_AGENT"
            android:value="1000" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="1000" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5412724dfd98c52d48002e7e" />

        <provider
            android:name="cn.m15.gotransfer.sdk.database.TransferProvider"
            android:authorities="cn.m15.provider.GoTransfer"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <!-- 想要跳转到MainActivity的话,请设置flag:Intent.FLAG_ACTIVITY_CLEAR_TOP -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.jiubang.gau.ACTION_GOSTATICSDK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.InviteFriendsActivity"
            android:label="@string/friends_install"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.FreeShareActivity"
            android:label="@string/share_wifiap"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.CommonWebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/setting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.AboutGoTransferActivity"
            android:label="@string/about"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ConnectFriendsActivity"
            android:label="@string/connect_friends"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ConnectingActivity"
            android:label="@string/connectting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ConnectAppleActivity"
            android:label="@string/connect_iphone"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
	<activity
            android:name=".ui.activity.ConnectPcActivity"
	    android:label="@string/connect_pc"
	    android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.CreateConnectionActivity"
            android:label="@string/create_connection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.JoinConnectionActivity"
            android:label="@string/join_connection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.UmConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.ConversationActivity"
            android:label="@string/transfer_history"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
    </application>

</manifest>