
    <div class="hide" id="main">
        
        
    </div>

    <!-- modal -->
    <div class="modal" id="J_ModalDialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close J_ModalClose" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="J_ModalTitle"></h4>
          </div>
          <div class="modal-body" id="J_ModalBody"></div>
          <div class="modal-footer">
            <p class="hide J_ModalState"></p>
            <button type="button" class="btn btn-default J_ModalClose" data-dismiss="modal" langkey="cancel"></button>
            <button type="button" class="btn btn-primary" id="J_ModalSubmit" langkey="ok"></button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- loading modal -->
    <div class="modal" id="J_LoadingModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body J_ModalBody">
            <div id="site-loading"></div>
            <img src="assets/image/loading.gif"/>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- error modal -->
    <div class="modal" id="J_ErrorModal">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close J_ModalClose" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="J_ModalTitle">warning!!!</h4>
            </div>
            <div class="modal-body J_ModalBody"></div>
            <div class="modal-footer hide">
                <button class="btn btn-warning btn-block J_ErrorModal_Close" langkey="iknow"></button>
                <button type="button" class="btn btn-default J_ModalClose hide" data-dismiss="modal" langkey="cancel"></button>
                <button type="button" class="btn btn-primary J_ModalSubmit hide" langkey="ok"></button>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <form class="close" method="post" action="/" name="J_NewForm" id="J_NewForm"></form>
    <img id="loading-dir" class="hide" src="assets/image/loading-dir.gif" />

    <!-- view file-->
    <script type="text/template" id="J_FileTmpl">
        <div class="defaultstyle {cls} f-t1" path="{path}">
            <div class="file-img">
                <p>
                    <span class="default-icon {type}-icon"><span class="chk-box"><span class="chk-ico"></span></span></span>
                </p>
            </div>
            <div class="file-name"><p><a path="{path}" class="{type}-link">{name}</a></p></div>
            <div class="file-time"><p>{time}</p></div>
        </div>
    </script>

    <!-- left menu -->
    <script type="text/template" id="J_TmplMenu">
        <div class="main-lmenu main-lmenu-default {cover}" action="{action}" {tooltip}>
            <div><span class="glyphicon glyphicon-folder-close fa-4x"></span></div>
            <div>{name}</div>
        </div>
    </script>

        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.uploadify.min.js"></script>
    
    <script type="text/javascript" src="assets/js/modal.js"></script>
    <script type="text/javascript" src="assets/js/common.js"></script>
    <script type="text/javascript" src="assets/js/dirtree.js"></script>
    <!--<script type="text/javascript" src="assets/js/go.js"></script>-->
    
    <script type="text/javascript">
    function CloseWebPage() {
        if (navigator.userAgent.indexOf("MSIE") > 0) {
            if (navigator.userAgent.indexOf("MSIE 6.0") > 0) {
                window.opener = null;
                window.close;
            } else {
                window.open("", "_top");
                window.top.close();
            }
        } else if (navigator.userAgent.indexOf("FireFox") > 0) {
            window.location.href = "about:blank;";// firefox 默认状态非window.open 的页面window.close 无效
        }
    }
    window.onload = function() {
        try {
            $('body');
        } catch (e) {
            var warning = {
                'cn': '请确保手机上的 Go 快传应用打开, 并且 WIFI 状态良好',
                'en': 'Please make sure your GO Transfer app and wifi is ok'
            };
            PageLanguage = PageLanguage || 'cn';
            alert(warning[PageLanguage]);
            window.location.href = "about:blank";
        }
    }
    </script>