<style type="text/css">
.pic-preview {position:fixed; top:0; bottom:0; left:0; right:0; background-color:#fff; background-color:#aaa;}
.module-showpic {width:70%; text-align:center; position:relative; margin-left:5%; margin-right:5%; margin-top:10px; margin-bottom:10px;}
.show-left-pic, .show-right-pic {position:absolute; top:0; bottom:0; width:50%;}
.show-left-pic {left:0; text-align:left;}
.show-right-pic {right:0; text-align:right;}
.show-left-pic .glyphicon, .show-right-pic .glyphicon {font-size:40px; margin-top:50%;}

.module-showpic-info {position:absolute; right:0; top:0; bottom:0; width:20%; padding:50px 10px 10px 10px; background-color:#000; color:#fff;}
.module-showpic-info .glyphicon {color:#eee; font-size:30px; position:absolute;}
.module-showpic-info #J_ClosePicPreview {top:10px; right:10px;}
.module-showpic-info #J_PicDownload {bottom:10px; left:20px; top:initial;}
.module-showpic-info #J_PicDelete {bottom:10px; left:70px; top:initial;}

.photo-group {padding:0; border-top:0;}
.photo-group .panel-heading {padding:10px; background-color:#f9f9f9!important;}
.photo-group .select-all {margin-top:10px;}
.photo-box {display:inline-block; margin:10px; position:relative;}
.photo-thumbnail {width:120px; height:120px;}
.photo-select-sign {display:none; position:absolute; top:0; bottom:0; left:0; right:0; cursor:pointer;}
.photo-box.selected .photo-select-sign,
.photo-box:hover .photo-select-sign {display:block;}

.photo-mask {width:100%; height:100%;}
.photo-box.selected .photo-mask {background-color:#fb7200; opacity:.2;}
.photo-box .photo-checkbox {position:absolute; padding:10px; top:-5px; right:-5px; }
.photo-box .photo-checkbox .chk-ico {position:relative; top:0; left:0;}
</style>

<script type="text/javascript" src="assets/js/photo.js"></script>

<div id="J_PicPreview" class="pic-preview hide">
    <input type="hidden" id="J_ShowPicPath">
    <div class="module-showpic">
        <div id="J_ShowLeftPic" class="show-left-pic">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
        <div id="J_ShowRightPic" class="show-right-pic">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div node-type="img-wrap" class="img-wrap"><img id="J_ShowPicImage" src="" node-type="viewpic-image" id="viewpic-image" class="" style="opacity: 1; transform: rotate(0deg); -webkit-transform: rotate(0deg); top: 0px; left: 279px; width: 349px; height: 456px;"></div>
    </div>
    <div class="module-showpic-info">
        <span id="J_ClosePicPreview" class="glyphicon glyphicon-remove"></span>
        <span id="J_PicDelete" class="glyphicon glyphicon-trash"></span>
        <span id="J_PicDownload" class="glyphicon glyphicon-download-alt"></span>
        <p id="J_PicName">1.jpg</p>
        <p id="J_PicLasttime">2012-12-02</p>
    </div>
</div>
<!-- photo group -->
<script type="text/template" id="J_PhotoGroupTmpl">
    <div class="panel panel-default photo-group" bucket_id="{bucket_id}">
        <div class="select-all pull-right J_BucketSelect" bucket_id="{bucket_id}">
            <span class="chk-ico"></span>
            <span langkey="selectall">全选</span>
        </div>
        <div class="panel-heading plus J_Bucket" bucket_id="{bucket_id}">
            <span class="plus glyphicon glyphicon-plus J_BucketSign"></span>
            <span class="photo-group-name">{bucket_name}</span>
        </div>
      <div class="panel-body hide J_Photos" bucket_id="{bucket_id}"></div>
    </div>
</script>
<!-- photo -->
<script type="text/template" id="J_PhotoTmpl">
<div class="J_Photo photo-box defaultstyle" path="{path}">
    <div class="photo-select-sign">
        <div class="photo-mask J_ShowPic" path="{path}"></div>
        <span class="photo-checkbox J_SelectPhoto" path="{path}"><span class="chk-ico"></span></span>
    </div>
    <input type="hidden" value="{name}" path="{path}" class="J_PhotoName">
    <img class="img-thumbnail photo-thumbnail" src="{imgSrc}">
</div>
</script>